.slider-big-img2 {
    height: 620px;
    background-image: url("../assets/MensCategories/man-large.jpg.webp");
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .image-size{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}